<h2 mat-dialog-title>Change password</h2>
<div mat-dialog-content>
    <form [formGroup]="formData" class="form-stacked">
        <mat-form-field>
            <input matInput name="OldPassword" formControlName="OldPassword" placeholder="OldPassword *">
        </mat-form-field>
        <mat-form-field>

            <input matInput name="NewPassword" formControlName="NewPassword" placeholder="New Password*">
        </mat-form-field>
        <mat-form-field>

            <input matInput name="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password *">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="default" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="changePassword()">Save</button>
</div>