<div class="panel-wrapper">
    <div class="feature-panel">
      <div class="featured-panel-content">
        <h1>A good book is an event in my life</h1>
        <p>Make it a rule never to give a child a book you would not read yourself.</p>
        <div class="panel-footer d-none d-lg-block">&copy; 2020 Arun infosis Pty Ltd. All Rights Reserved</div>
      </div>
      <div class="gradient-overlay"></div>
      <div class="feature-panel-img" [ngStyle]="{'background-image': 'url(https://s3-ap-southeast-1.amazonaws.com/images.dev.perkal.com/assets/images/edm/book.jpg);'}">
      </div>
    </div>
    <div class="main-panel">
      <div class="main-panel__inner">
        <div class="main-panel__switch" hidden>
          <span class="main-panel__switch__text">Don't have an account?</span> <a href="#"
            class="btn btn-outline-secondary main-panel__switch__button">Sign Up</a>
        </div>
        <div class="main-panel__content">
          <div class="main-panel__heading">
            <h2 class="main-panel__title">Sign In</h2>
            <span class="main-panel__subtitle"></span>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field>
                <input matInput type="text" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username">
                <mat-error *ngIf="submitted && f.username.errors">Username is required</mat-error>
              </mat-form-field>
  
            </div>
            <div>
              <mat-form-field>
                <input matInput type="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"
                  [type]="hide  ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide  = !hide ">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="submitted && f.password.errors">Password is required</mat-error>
              </mat-form-field>
            </div>
  
            <p class="forgot-password">
              <a (click)="openOpenDialog()">Create Student Account here.</a>
            </p>
  
            <button matRipple id="SignIn" [disabled]="loading" class="btn btn-primary btn-lg">Sign In
              <img style="margin-left:5px;" *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>           
          </form>
        </div>
      </div>
      <!-- //.main-panel__inner -->
    </div>
    <!-- //.main-panel -->
    <div class="panel-footer d-block d-lg-none">&copy; 2020 Inventory Pty Ltd. All Rights Reserved</div>
  </div>
  