
mat-card-title{
    text-align: center;
    font-size: 35px;
}
mat-card-content{
    text-align: center;  
}
.welcome-cont{
    max-width: 850px;
    padding: 2px 17px;
    margin: 237px;
    margin-top: 140px;
}